@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&family=Vibur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Lily+Script+One&family=Vibur&display=swap');

:root {
  --dark-red: #8B0000;
  --green: #228B22;
  --yellow: #FFD700;
  --dark-red-hover: #a00000;
  --green-hover: #2ca02c;
  --yellow-hover: #ffdd33;
  --beige: #E9E3DF;
  --orange: #FF7A30;
  --blue: #465C88;
  --black: #000000;
}

#root{
  width: 100%;
}

body{
  background: var(--beige);
  place-items: unset;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3 {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: var(--black);
}

.page-title small{
  font-size: 14px;
  color: var(--bs-gray-800);
  margin-top: 10px;
}

small{
  font-weight: normal;
}

/* Buttons */
.btn{
  transition: none;
  border: none;
}
.btn:active{
  box-shadow: inset 0 4px 2px rgba(0, 0, 0, 0.2);
}

.btn.btn-primary, .btn.btn-primary:active{
  background-color: var(--orange);
  color: white;
}
.btn.btn-secondary, .btn.btn-secondary:active{
  background-color: var(--blue);
  color: white;
}


.btn-dark-red {
  background-color: var(--dark-red);
  color: #fff;
}
.btn-dark-red:hover {
  background-color: var(--dark-red-hover);
  color: #fff;
}


.btn-green {
  background-color: var(--green);
  color: #fff;
}
.btn-green:hover {
  background-color: var(--green-hover);
  color: #fff;
}

.btn-yellow {
  background-color: var(--yellow);
  color: #000;
}
.btn.btn-yellow:hover, .btn.btn-yellow:active {
  background-color: var(--yellow-hover);
  color: #000;
}

/* Alerts */
.alert-dark-red {
  background-color: var(--dark-red);
  color: #fff;
  border-color: var(--dark-red-hover);
}

.alert-green {
  background-color: var(--green);
  color: #fff;
  border-color: var(--green-hover);
}

.alert-yellow {
  background-color: var(--yellow);
  color: #000;
  border-color: var(--yellow-hover);
}

/* Badges */
.badge-dark-red {
  background-color: var(--dark-red);
  color: #fff;
}

.badge-green {
  background-color: var(--green);
  color: #fff;
}

.badge-yellow {
  background-color: var(--yellow);
  color: #000;
}

/* Navbar */
.navbar-dark-red {
  background-color: var(--dark-red);
}
.navbar-green {
  background-color: var(--green);
}
.navbar-yellow {
  background-color: var(--yellow);
}

/* Navbar Links */
.navbar-dark-red .navbar-nav .nav-link,
.navbar-green .navbar-nav .nav-link,
.navbar-yellow .navbar-nav .nav-link {
  color: #fff;
}
.navbar-yellow .navbar-nav .nav-link {
  color: #000;
}

.navbar-toggler{
  border: none;
    font-size: 30px;
    color: white;
    box-shadow: none !important;
    outline: none !important;
}
.navbar-toggler:focus{
    background: rgba(0, 0, 0, 0.2);
}

.dark-red{
  color: var(--dark-red);
}

header{
  background: var(--orange);
  color: white;
}
header .navbar{
  padding: 0;
}
.navbar-brand{
  color: white;
  display: flex;
  align-items: center;
  margin: 0;
}
.navbar-brand img{
  max-width: 200px;
  margin-right: 20px;
}
.navbar-brand h3{
  color: #fff;
  font-size: 20px;
  margin: 0;
}
.navbar-brand h3 small{
  color: var(--yellow);
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.nav .nav-link{
  color: white;
}
.nav .nav-link.active{
  color: white;
}

.navbar-nav .nav-link{
padding: 15px !important;
line-height: 25px;
}

.nav-link.cart{
  font-size: x-large;
  position: relative;
}

.nav-link.cart .badge{
    position: absolute;
    top: -3px;
    right: -3px;
    background: red;
    font-size: 14px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 0;
    line-height: 25px;
}

.cart-floating{
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
}
.cart-floating a{
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background: var(--yellow);
  border-radius: 100%;
  color: black;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
.cart-floating a:hover{
  background: var(--yellow-hover);
}

.tabs{
  display: flex;
  justify-content: center;
}

.nav.nav-pills .nav-link{
  color: var(--bs-gray-600);
  cursor: pointer;
  border-radius: 0;
  padding: 25px 15px;
}
.nav.nav-pills .nav-link{
  border-top: 3px solid white;
  font-weight: 500;
}
.nav.nav-pills .nav-link:hover{
  background: var(--bs-gray-200);
}
.nav.nav-pills .nav-item.active .nav-link{
  border-top: 3px solid var(--blue);
  color: var(--blue);
}

.AlertNotification{
  display: flex;
  position: fixed;
  top: 50px;
  z-index: 999999;
  justify-content: center;
  width: 100%;
}
.AlertNotification .alert{
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.content-bg{
  padding: 30px;
  background: white;
  border-radius: 10px;
  margin-bottom: 50px;
}

.products-list .product-img{
  width: 250px;
  height: 250px;
}
.products-list .product-card{
  height: 100%;
  position: relative;
  overflow: hidden;
  border: none;
  border-radius: 0;
  background: none;
}
.products-list .product-card:hover{
  box-shadow: 0 35px 35px rgba(0, 0, 0, 0.2);
}
.product-card .product-desc{
  padding: 15px;
  text-align: center;
}
.product-card .product-desc .product-title{
  font-size: 18px;
  color: var(--black);
}
.products-list .product-title.text-orange{
  color: var(--orange);
}
.text-orange{
  color: var(--orange);
}

.product-card .product-img{
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}
.product-card .product-img img{
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.product-card .pr-options{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0);
  border-radius: 0 0 10px 10px;
  height: 200px;
  padding: 15px;
  transition: all ease-in-out 0.2s;
  margin-bottom: -200px;
  text-align: left;
}
.product-card .pr-options.show{
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
}
.product-card .pr-options small{
  font-size: 8px;
}
  .pr-options .pr-selection{
  display: flex;
  flex-direction: row;
}
.pr-options label{
  font-size: 12px;
  color: var(--bs-gray-600);
  font-weight: bold;
  width: 100%;
  text-align: left;
}
.pr-options .pr-selection select.pr-weight{
  margin-right: 10px;
  border: 1px solid var(--bs-gray-600);
  border-radius: 6px;
  outline: none;
  box-shadow: none;
  height: 37px;
}


.quantity{
  display: flex;
  border: 1px solid var(--bs-gray-600);
  border-radius: 6px;
  box-shadow: none !important;
}
.quantity .form-control{
  outline: none;
  box-shadow: none;
  border: none;
  text-align: center;
}
.quantity .btn{
  font-weight: bold;
}

.selected-items .pic img{
  width: 150px;
  height: 150px;
  border-radius: 100%;
}
.selected-items .card{
  display: flex;
  flex-direction:row;
  position: relative;
}

.selected-items .card .desc .pr-details{
  min-width: 80px;
}
.selected-items .card .desc .pr-details label{
  display: block;
  font-size: small;
  font-weight: bold;
  color: var(--bs-gray-600);
}
.selected-items .card .quantity{
  max-width: 120px;
  margin-top: 10px;
}
.selected-items .card .controls{
  position: absolute;
  top: 10px;
  right: 10px;
}


.home-banner{
  background: var(--black);
  height: 400px;
}
.home-banner .carousel-inner{
  height: 400px;
}
.home-banner .carousel-inner .carousel-item{
  height: 400px;
  position: relative;
}
.home-banner .carousel-inner .carousel-item img{
  position: absolute;
  top: -50%;
}
.home-banner .carousel-inner .carousel-caption{
  text-align: left;
}
.home-banner .carousel-inner .carousel-caption h2{
  color: white;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}
.home-banner .carousel-inner .carousel-caption p{
  font-size: 30px;
  font-family: "Vibur", cursive;
  font-weight: 400;
  font-style: normal;
}

footer{
  background: var(--black);
  color: var(--bs-gray-500);
  padding: 20px 0;
}
footer h5{
  color: white;
  font-family: "Roboto Serif", serif;
}
footer a, footer a:hover, footer a:active{
  color: var(--bs-gray-500);
  text-decoration: none;
}
footer a:hover, footer a:active{
  text-decoration: underline;
}

footer .f-note{ 
  color: var(--bs-gray-600);
  font-size: 14px;
  margin:0;
  padding: 15px 0;
  border-top:1px solid var(--bs-gray-800);
}

@media only screen and (max-width:992px){
#navbarNav{
        position: absolute;
        background: var(--blue);
        left: 0;
        right: 0;
        z-index: 9999;
        top: 65px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
#navbarNav .nav{
  padding: 15px;
}
#navbarNav .nav .nav-link{
  padding: 15px 20px;
  height: auto;
  line-height: normal;
  border-radius: 5px;
}
#navbarNav .nav .nav-link:focus{
  background: var(--blue);
}
.product-card .product-img,
.product-card .product-img img{
  height: 150px;
}

}

@media only screen and (max-width:768px){
.home-banner{
  height: 300px;
}

.home-banner .carousel-inner{
  height: 300px;
}
.home-banner .carousel-inner .carousel-item{
  height: 300px;
  position: relative;
}
.home-banner .carousel-inner .carousel-item img{
  width: 200%;
  position: absolute;
  top: 0;
}
.selected-items .pic img{
  width: 80px;
  height: 80px;
}
}

